@model TireRecords.Models.ReceiptViewModel

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Kreiraj priznanicu</h2>
<br />


<div class="container">
    @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="pull-right">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        }*@

    <form action="/Receipt/Create" method="post">

        <div class="form-section">
            <h4 class="form-heading">Klijent</h4>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" id="firstName" name="firstName" class="form-control" value="" placeholder="Ime" />
                </div>
                <div class="col-md-3">
                    <input type="text" id="lastName" name="lastName" class="form-control" value="" placeholder="Prezime" />
                </div>
                <div class="col-md-3">
                    <input type="text" id="mobilePhone" name="mobilePhone" class="form-control" value="" placeholder="Telefon" />
                </div>
                <div class="col-md-3">
                    <input type="text" id="email" name="email" class="form-control" value="" placeholder="Email" />
                </div>
            </div>
        </div>
        <div class="form-section">

            <h4 class="form-heading">Vozilo</h4>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" id="vehicleBrand" name="vehicleBrand" class="form-control" value="" placeholder="Marka" />
                </div>
                <div class="col-md-3">
                    <input type="text" id="registrationNumber" name="registrationNumber" class="form-control" value="" placeholder="Registarski broj" />
                </div>
            </div>
        </div>
        <div class="form-section">

            <h4 class="form-heading">Gume</h4>
            <div class="row">
                <div class="col-md-1">
                    <input type="text" id="positionPLText" name="positionPLText" class="form-control" disabled value="PL" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="tireBrandPL" name="tireBrandPL" class="form-control" value="" placeholder="Marka" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="tireModelPL" name="tireModelPL" class="form-control" value="" placeholder="Tip" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="dimensionPL" name="dimensionPL" class="form-control" value="" placeholder="Dimenzija" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="indexPL" name="indexPL" class="form-control" value="" placeholder="Index" />
                </div>
                <div class="col-md-1">
                    <input type="text" id="dotPL" name="dotPL" class="form-control" value="" placeholder="Dot" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="depthPL" name="depthPL" class="form-control" value="" placeholder="Dubina" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">
                    <input type="text" id="positionPDText" name="positionPDText" class="form-control" disabled value="PD" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="tireBrandPD" name="tireBrandPD" class="form-control" value="" placeholder="Marka" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="tireModelPD" name="tireModelPD" class="form-control" value="" placeholder="Tip" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="dimensionPD" name="dimensionPD" class="form-control" value="" placeholder="Dimenzija" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="indexPD" name="indexPD" class="form-control" value="" placeholder="Index" />
                </div>
                <div class="col-md-1">
                    <input type="text" id="dotPD" name="dotPD" class="form-control" value="" placeholder="Dot" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="depthPD" name="depthPD" class="form-control" value="" placeholder="Dubina" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">
                    <input type="text" id="positionZLText" name="positionZLText" class="form-control" disabled value="ZL" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="tireBrandZL" name="tireBrandZL" class="form-control" value="" placeholder="Marka" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="tireModelZL" name="tireModelZL" class="form-control" value="" placeholder="Tip" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="dimensionZL" name="dimensionZL" class="form-control" value="" placeholder="Dimenzija" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="indexZL" name="indexZL" class="form-control" value="" placeholder="Index" />
                </div>
                <div class="col-md-1">
                    <input type="text" id="dotZL" name="dotZL" class="form-control" value="" placeholder="Dot" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="depthZL" name="depthZL" class="form-control" value="" placeholder="Dubina" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">
                    <input type="text" id="positionZDText" name="positionZDText" class="form-control" disabled value="ZD" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="tireBrandZD" name="tireBrandZD" class="form-control" value="" placeholder="Marka" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="tireModelZD" name="tireModelZD" class="form-control" value="" placeholder="Tip" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="dimensionZD" name="dimensionZD" class="form-control" value="" placeholder="Dimenzija" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="indexZD" name="indexZD" class="form-control" value="" placeholder="Index" />
                </div>
                <div class="col-md-1">
                    <input type="text" id="dotZD" name="dotZD" class="form-control" value="" placeholder="Dot" />
                </div>
                <div class="col-md-2">
                    <input type="text" id="depthZD" name="depthZD" class="form-control" value="" placeholder="Dubina" />
                </div>
            </div>
            <textarea placeholder="Napomena" name="message" id="message" class="form-control"></textarea>
        </div>

        <div class="pull-right">
            <button type="submit" class="btn btn-general btn-blue mt-30">Unesi</button>
        </div>
    </form>

</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
