@{
    ViewBag.Title = "Home Page";
}

<div class="container mt-30">
    <div class="row">
        <div class="col-md-4">
            <div class="_card client-card">
                <i class="fa fa-user"></i>
                <h3>Klijenti</h3>
                <p>125</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="_card vehicle-card">
                <i class="fa fa-car"></i>
                <h3>Vozila</h3>
                <p>130</p>
            </div>
        </div>
        <div class="col-md-4">
            <a href="/Receipt/Index">
                <div class="_card receipt-card">
                    <i class="fa fa-paste"></i>
                    <h3>Priznanice</h3>
                    <p>135</p>
                </div>
            </a>
        </div>
    </div>

</div>