@{
    ViewBag.Title = "Home Page";
}

<div class="container mt-30">
    <div class="row">
        <div class="col-md-3">
            <div class="_card">
                <h3>Priznanice</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="_card">
                <h3>Kreiraj priznanicu</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="_card">
                <h3>Kreiraj priznanicu</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="_card">
                <h3>Kreiraj priznanicu</h3>
            </div>
        </div>
     
    </div>
</div>