/* Colors 
    #dae330 - yellow
    #0c6acf - blue
    #00c851 - green
    #dc3545 - red

*/

body {
    font-family: Montserrat, sans-serif;
    position: relative;
    min-height: 100vh;
    background: rgba(66, 135, 245, 0.04);
    overflow-x: hidden;
}

input:read-only  {
    cursor: pointer;
}

* {
    box-sizing: border-box
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none !important;
    margin: 0;
    padding: 0;
}

/* Navigation */
aside {
    width: 15vw;
    height: 100vh;
    background: #007bff;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 250ms ease;
}

header {
    display: flex;
    align-items: center;
    background: #006FFF;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 20px;
    height: 8vh;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #fff;
    height: 8vh;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    right: 0;
    left: 15vw;
    z-index: 999 !important;
    padding: 0 35px;
    transition: all 250ms ease;
}

aside div {
    width: 100%;
    height: 100%;
    box-shadow: 2px 30px 15px -1px rgba(0, 0, 0, 0.1), 2px 30px 15px -1px rgba(0, 0, 0, 0.06);
    padding: 0 15px;
    padding-top: 10px;
}

.nav-heading {
    font-weight: 300;
    font-size: 13px;
    color: #fff;
    margin-bottom: 20px;
}

.nav-menu li {
    margin: 3px 0;
    padding: 10px 15px;
    transition: all 350ms ease;
}

    .nav-menu li:hover {
        background: #006FFF;
        border-radius: 12px;
    }

    .nav-menu li a {
        display: block;
        color: #fff;
        font-size: 15px;
    }

    .nav-menu li a i {
        margin-right: 6px;
    }

.active {
    background: #006FFF;
    border-radius: 16px;
}

.navbar-collapse.collapse {
    display: flex !important;
    align-items: center !important;
}

.navbar-right {
    margin-left: auto !important;
}

.nav-dropdown-lvl {
    margin-top: 15px;
}

    .nav-dropdown-lvl li {
        padding: 5px 10px;
        margin: 3px 0;
    }

        .nav-dropdown-lvl li a {
            font-size: 14px;
        }


    .content-wrapper {
        margin-top: 8vh;
        min-height: 100vh;
    }

.content {
    margin-left: 15vw;
    padding: 10px 20px 0 20px;
    transition: all 250ms ease;
}

/* Buttons */

.btn-general {
    border: 1px solid;
    border-radius: 0;
    transition: all 350ms ease;
    padding: 7px 18px;
    font-size: 14px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;

}

    .btn-general:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    .btn-general:hover {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
    }

.btn-logout {
    background: transparent;
    color: #111113;
    box-shadow: none !important;
    outline: none !important;
    z-index: 9999999 !important;
}

.btn-default {
    border-color: #f7f2f2;
    background: #f7f2f2;
    color: #000;
}

    .btn-default:hover {
        border-color: #f7f2f2;
        background: #f7f2f2;
    }

    .btn-default:focus {
        border-color: #f7f2f2 !important;
    }

.btn-blue {
    border-color: #007bff;
    background: #007bff;
    color: #fff !important;
}

    .btn-blue:hover {
        border-color: #007bff;
        background: #007bff;
        color: #fff;
    }

    .btn-blue:focus {
        border-color: #007bff;
    }

.btn-yellow {
    border-color: #e8e310;
    background: #e8e310;
    color: #fff !important;
}

    .btn-yellow:hover {
        border-color: #dbd70f;
        background: #dbd70f;
        color: #fff;
    }

    .btn-yellow:focus {
        border-color: #dbd70f;
    }

.btn-red {
    border-color: #dc3545;
    background: #dc3545;
    color: #fff !important;
}

    .btn-red:hover {
        border-color: #dc3545;
        background: #dc3545;
        color: #fff;
    }

    .btn-red:focus {
        border-color: #dc3545;
    }


.btn-green {
    border-color: #00c851;
    background: #00c851;
    color: #fff !important;
}

    .btn-green:hover {
        border-color: #00c851;
        background: #00c851;
        color: #fff;
    }

    .btn-green:focus {
        border-color: #00c851;
    }
.btn-small {
    padding: 6px 16px !important;
    font-size: 12px !important;
}

/* Form */

.form-control {
    border-color: rgba(0, 0, 0, 0.2) !important;
    font-weight: 500 !important;
}

.form-control::placeholder {
    /*border-radius: 0;
    border: none;
    box-shadow: none !important;
    outline: none !important;
    border-bottom: 1px solid #f0e9e9;
    padding-left: 7px;
    padding-right: 0;
    margin-top: 10px;*/
    color: rgba(0, 0, 0, 0.6) !important;
    font-weight: 500 !important;
}

@media(max-width: 991px) {
    .form-control {
        margin-bottom: 10px;
    }
}

.form-control:disabled {
    background: #f7f2f2;
}

textarea {
    width: 100%;
    height: 130px !important;
    resize: none;
    margin-top: 30px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.tire-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}


.form-section {
    background: #fff;
    padding: 20px 30px 30px 30px;
    box-shadow: 0 0px 6px -1px rgba(0, 0, 0, 0.1), 0 4px 4px -1px rgba(0, 0, 0, 0.06);
    margin-bottom: 30px;
    border-radius: 0;
    color: #111113;
}

.form-section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.form-section-client {
    border-top: 3px solid #007bff !important;
}


.form-section-vehicle {
    border-top: 3px solid #28a745;
}

.form-section-tires {
    border-top: 3px solid #dc3545 !important;
}


.form-heading {
    /*margin-top: 30px;*/
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
}

.form-heading i {
    font-size: 20px;
}

.mt-30 {
    margin-top: 30px;
}

/* Login */

.login {
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    margin-top: -70px;
}

.login-inner {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 80px;
    border: 1px solid #f7f2f2;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.06);
    background: #fff;
}

.login-heading {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-top: 80px;
    margin: 0;
    color: #007bff;
}

.login-subheading {
    text-align: center;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin-bottom: 40px;
}

.control-label {
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
}

.page-heading {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Data table */
#receiptTable tr td {
    border: none !important;
    border-bottom: 1px solid #eff9f9 !important;
    border-color: #eff9f9 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}


#receiptTable tbody tr {
    transition: background 250ms ease;
}

    #receiptTable tbody tr:hover {
        background: rgba(0, 123, 255, 0.04);
    }

#receiptTable tr th {
    border-color: #e3f0f0 !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle !important;
}

.filter-section {
    margin-bottom: 40px;
}

.paginate_button.active a {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.paginate_button.page-item.active {
    z-index: 5 !important;
}

/* Modal */
.modal-content {
    border-radius: 0;
  
}

.modal-title {
    display: inline-block;
}

#clientFirstAndLastName {
    font-size: 15px;
    font-weight: 600;
}

#hiddenVehicleId {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* Datepicker */
#ui-datepicker-div {
    background: #fff;
    z-index: 6 !important;
}

.ui-widget {
    font-family: Montserrat, sans-serif !important;
}

.ui-widget-header {
    background: #007bff !important;
    color: #fff !important;
    border: 1px solid #f7f2f2 !important;
}

.ui-state-default {
    background: #f7f2f2 !important;
    border: #f7f2f2 !important;
    text-align: center !important;
    color: #000 !important;
    font-family: Montserrat !important;
    font-weight: 400 !important;
    border-radius: 4px !important;
}

    .ui-state-default:hover {
        background: #f0eeee !important;
    }

    .ui-state-default.ui-state-active {
        background: #007bff !important;
        color: #fff !important;
        font-weight: 400 !important;
    }

.ui-datepicker-calendar th {
    font-weight: 500 !important;
}

.ui-state-hover.ui-datepicker-prev-hover,
.ui-state-hover.ui-datepicker-next-hover {
    background-image: none !important;
    border: none !important;
    border-radius: 0 !important;
    background: #007bff !important;
    cursor: pointer;
}

span.ui-icon {
    background: none !important;
}

span.ui-icon {
    display: block;
    text-indent: 0 !important;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    top: 40% !important;
}

    .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span:hover {
        top: 40% !important;
        left: 50% !important;
        color: #f7f2f2 !important;
        margin-left: -8px !important;
        margin-top: -8px !important;
    }

.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span {
    top: 40% !important;
}

    .ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span:hover {
        top: 40% !important;
        left: 50% !important;
        color: #f7f2f2 !important;
        margin-left: -8px !important;
        margin-top: -8px !important;
    }

.ui-datepicker-title {
    font-weight: 600;
}

._card {
    padding: 20px 30px;
    background: #fff;
    border-radius: 0;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    position: relative;
    transition: box-shadow 350ms ease;
    cursor: pointer;
    min-height: 180px;
}

    ._card:hover {
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }

    .client-card {
        border-top: 3px solid #007bff !important;
    }


.vehicle-card {
    border-top: 3px solid #28a745;
}

.receipt-card {
    border-top: 3px solid #dc3545 !important;
}

._card-small {
    min-height: 50px !important;
    border-color: transparent !important;
}


    ._card i {
        text-align: left;
        display: inline-block;
    }

    ._card h3 {
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-left: 10px;
        font-weight: 500;
    }
    ._card p {
        font-size: 48px;
        font-weight: 400;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #525866;
    }

.client-card i,
.client-card h3 {
    color: #007bff;
    font-size: 22px;
}

.vehicle-card i,
.vehicle-card h3 {
    color: #28a745;
    font-size: 22px;
}

.receipt-card i,
.receipt-card h3 {
    color: #dc3545;
    font-size: 22px;
}


/* Details page */

.details-inner {
    padding: 0 25px;
}

.details-text {
    font-size: 18px;
    font-weight: 400;
}

.form-disabled:disabled {
    background: #fff;
    cursor: default;
}

._panel {
    background: #fff;
    box-shadow: 0 0px 6px -1px rgba(0, 0, 0, 0.1), 0 4px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0;
    margin-bottom: 20px;
    padding: 30px;
}

.panel-white {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px;
    box-shadow: 0 0px 6px -1px rgba(0, 0, 0, 0.1), 0 4px 4px -1px rgba(0, 0, 0, 0.06);
    margin-top: 10px;
    background: #fff;
    font-weight: 600;
    color: #007bff;
}

.panel-red {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px;
    box-shadow: 0 0px 6px -1px rgba(0, 0, 0, 0.1), 0 4px 4px -1px rgba(0, 0, 0, 0.06);
    margin-top: 10px;
    background: #fff;
    font-weight: 600;
    color: #fff;
    background: #dc3545;
}

.panel-heading .row {
    display: flex !important;
    align-items: center !important;  
}

#receiptTable_wrapper .row:last-child {
    margin-top: 20px !important;
}

#logoutForm {
    margin: 0;
    padding: 0;
}


    .logout-dropdown span:hover {
        color: #fff;
        box-shadow: none !important;
        outline: none !important;
    }
.logout-dropdown.dropdown-menu {
    border-radius: 3px !important;
}

.logout-dropdown.dropdown-menu li {
    padding: 2px 15px !important;
}

    .logout-dropdown.dropdown-menu li:hover {
        background: #f7f2f2;
    }

    .logout-dropdown.dropdown-menu li a {
        color: #111113 !important;
        display: block !important;
    }
}

.bootstrap-select .filter-option {
    color: #555555 !important;
}

.bootstrap-select .btn-default {
    background: #fff !important;
    border-color: rgba(0, 0, 0, 0.2) !important;
    font-weight: 500 !important;
    box-shadow: none !important;
}

.bootstrap-select .dropdown-menu > li > a small.muted {
    display: none;
}

.bootstrap-select .dropdown-menu {
    max-height: 300px !important;
}

.bootstrap-select .dropdown-toggle .filter-option {
    position: relative;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #007bff;
}

.logout-dropdown {
    left: unset;
    right: 30px;
}

.nav-toggler {
    display: none;
}



@media(max-width: 991px) {
    aside {
        left: -17vw;
    }

    .toolbar {
        left: 0;
        justify-content: space-between;
    }

    .nav-toggler {
        display: block;
        font-size: 22px;
        cursor: pointer;
    }

    .content {
        margin-left: 0;
    }

    .js-aside-toggled {
        left: 0;
        width: 25vw;
    }

    .js-toolbar-right {
        left: 25vw;
    }

    .js-content {
        margin-left: 25vw;
    }
}

@media(max-width: 768px) {
    .js-aside-toggled {
        left: 0;
        width: 40vw;
    }

    .js-toolbar-right {
        left: 40vw;
    }

    .js-content {
        margin-left: 40vw;
    }
}

@media(max-width: 567px) {
    .js-aside-toggled {
        left: 0;
        width: 50vw;
    }

    .js-toolbar-right {
        left: 50vw;
    }

    .js-content {
        margin-left: 50vw;
    }
}